<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Detalle"></Label>

    <ActionItem position="right" android.systemIcon="ic_menu_back" class="fas" (tap)="goBack()"></ActionItem>
</ActionBar>

<StackLayout class="page__content">
    <Label class="h1 text-center" [text]="this.noticia.titulo"></Label>
    <Label [text]="this.noticia.nota" fontSize="14" textWrap="true"></Label>

    <StackLayout class="hr"></StackLayout>

    <Label class="h2 text-center" text="Reviews"></Label>

    <PullToRefresh (refresh)="onPull($event)">
        <ListView class="list-group" [items]="this.noticias.getReviews()" (itemTap)="onItemTap($event)">
            <ng-template let-x="item">
                <GridLayout columns="auto, *, auto" rows="auto, 35" verticalAlignment="top" backgroundColor="lightgray">
                    <Image src="res://icon" rowSpan="2" width="72" height="72" margin="3" verticalAlignment="top"></Image>
                    <Label [text]="x.comentario" textWrap="true" col="1" colSpan="2" minHeight="25" fontSize="16" margin="3"></Label>
                    <Label [text]="x.usuario" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></Label>
                    <Label [text]="x.puntaje" col="2" row="1" fontSize="14" verticalAlignment="bottom" margin="3" color="#10C2B0"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </PullToRefresh>
</StackLayout>
